body{
    border: 20px solid #bdc3c7;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;
}

h2{
    font-weight: 700;
    font-size: 2.0rem;
    color: #2c3e50;
}

.quote{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.date{
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
